{% extends 'core/base.html' %}
{% block titlename %}<Title>Heart Disease blogs</Title>{% endblock titlename %}
    {% block content %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="#">My Blogs</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link " aria-current="page" target="__blank" href="{% url 'home' %}">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link " href="{% url 'userprofile' %}">Dashboard</a>
                              </li>
                              <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Categories
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'usertable' %}">Mental Health</a></li>
                                    <li><a class="dropdown-item" href="{% url 'usertable1' %}">Covid 19</a></li>
                                    <li><a class="dropdown-item" href="{% url 'usertable2' %}">Immune System</a></li>
                                    <li><a class="dropdown-item" href="{% url 'usertable3' %}">Heart Disease</a></li>
                                 
                                 
                                </ul>
                              </li>
                              <li class="nav-item">
                                <a href="{% url 'logout' %}" class="nav-link btn btn-danger  mx-2"> Logout</a>
                              </li>
                            </ul>
                          </div>
                        </div>
            </nav>
            {% if messages %}
                                {% for message in messages  %}
                                <p {% if message.tags %} class='{{ message.tags}}' {% endif %}>{{message}}</p>
                                {% endfor %}
            {% endif %}
                
            <div class="container-fluid P-4 ">  
                        <h3 class="alert-warning text-center  p-2" >Show  Post  Informations</h3>
                        <div class="row">
                            <div class="col-sm-12 text-center ">
                               {% if post %}
                                 {% for p in post %}
                                 <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col" style="width: 5%;">Id</th>
                                        <th scope="col" style="width:18%;">Category</th>
                                        <th scope="col" style="width:28%;">Title</th>
                                        <th scope="col" style="width:20%;">Image</th>
                                        <th scope="col" style="width:78%;">Description</th>
                                        <th scope="col" style="width:50%;">Summary</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">{{p.id}}</th>
                                        <th scope="row">{{p.category}}</th>
                                        <td>{{p.title}}</td>
                                        <td><img src="{{p.image.url}}" class="mb-2" alt="" , width="100px" height="90px" class=" img-responsive-fluid  mt-4"></td>
                                        <td>
                                            {{p.content|truncatewords:15}}
                                        </td>
                                        <td>{{p.summary|truncatewords:3}}</td>
                                        <td> <a href="{% url 'pblog' p.id %}" target="__blank" class="btn btn-warning">View</a></td>
                                    
                                      </tr>
                                    </tbody>
                                  </table>

                                 {% endfor %}
                               {% endif %}
                            </div>    
                             
                        </div>    
             
           
                    </div> 
    {% endblock content %}

